<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>{{ PAGETITLE }}::{{ TITLE }} </title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{{ WEBROOT }}favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{{ WEBROOT }}css/layout.css" type="text/css" charset="utf-8"/>
        <link rel="stylesheet" href="{{ WEBROOT }}css/disco.css" type="text/css" charset="utf-8"/>
        <script type="text/javascript" src="{{ WEBROOT }}js/jquery-1.6.2.min.js">
        </script>
        <script type="text/javascript" src="{{ WEBROOT }}js/rfk.js">
        </script>
        <script type="text/javascript" src="{{ WEBROOT }}js/disco.js">
        </script>
        <script type="text/javascript">
            var webroot = "{{ WEBROOT }}";
        </script>
    </head>
    <body>
        <div id="boxes">
        	{% if !USER_LOGGED_IN %}
            <div id="logindialog" class="window">
                <h2>Login</h2>
				<form method="post">
				<table>
					<tr><td>Username</td><td><input name="username" id="iUsername"/></td></tr>
					<tr><td>Password</td><td><input name="password" id="iPassword"/></td></tr>
					<tr><td>&nbsp;</td><td style="text-align:right;"><input type="button" value="Cancel" onclick="$('#mask, .window').hide();"/>&nbsp;&nbsp;<input type="submit" name="login" value="Login"/></td></tr>
				</table>
				</form>
				<br />
                You don't have an account? <a href="#">register one</a><br />
            </div>
			{% endif %}
            <div id="mask">
            </div>
        </div>
        <div id="header">
            <img src="{{ WEBROOT }}images/logo.png" alt="logo" />
            <div id="menubar">
                <ul>
                	{% if !USER_LOGGED_IN %}
                    <li>
                        <a href="#" onclick="showLoginBox();">Login</a>
                    </li>
					{% endif %}
                    <li class="separator">
                        &nbsp;
                    </li>
                    {% for index, item in menu %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="sidebar">
            {% include "sidebar.html" %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {{ uptime }}
            {% include "disco.html" %}
        </div>
    </body>
</html>
