{% extends "broadcasts-sb.html"%}
{% block content %}
<h2>{% lang L_PROGRAM %}</h2>
<table width="100%">
<tr>
        <td width="25%" class="calendar-head-left"><a href="broadcasts.php?month={{ prevmonth }}&year={{ prevyear }}">&lt;&lt; {{ prevmonthname }}</a></td>
        <td width="50%" class="calendar-head">{{ monthname }}&nbsp;{{ year }}</td>
        <td width="25%" class="calendar-head-right"><a href="broadcasts.php?month={{ nextmonth }}&year={{ nextyear }}">{{ nextmonthname }} &gt;&gt;</a></td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td>&nbsp;</td>
        <td width="13%">{% lang D_MONDAY %}</td>
        <td width="13%">{% lang D_TUESDAY %}</td>
        <td width="13%">{% lang D_WEDNESDAY %}</td>
        <td width="13%">{% lang D_THURSDAY %}</td>
        <td width="13%">{% lang D_FRIDAY %}</td>
        <td width="13%">{% lang D_SATURDAY %}</td>
        <td width="13%">{% lang D_SUNDAY %}</td>
    </tr>
    {% for weeknum, week in calendar %}
    <tr height="50">
        <td><a href="broadcasts.php?week={{ weeknum }}&year={{ year}}">{{ weeknum }}</a></td>
        {% for daynum, day in week %}
        <td onclick="gotoWeek({{ daynum }},{{ weeknum }},{{ year}});" class="{% if day.thismonth == 'true' %}day-thismonth{% else %}day{% endif %}{% if day.today %} calendar-mark{% endif%}">
        {{ day.day }}
        <div>{% if day.shows > 0 %}{{ day.shows }}{% else %}&nbsp;{% endif %}</div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<script type="text/javascript">
function gotoWeek(day, week,year){
	window.location = 'broadcasts.php?week='+week+'&year='+year+'&day='+day;
}
</script>
{% endblock %}