{% extends "sidebar.html" %}

{% block content %}
<h2>{% lang L_HISTORY %}</h2>
<table id="historytable" width="100%">
<thead>
    <tr>
        <th>{% lang L_TIME %}</th>
        <th>{% lang L_DJ %}</th>
        <th>{% lang L_SHOW %}</th>
        <th>{% lang L_ARTIST %}</th>
        <th>{% lang L_TITLE %}</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="5">{% lang L_DATAREQUEST %}</td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <th>{% lang L_TIME %}</th>
        <th>{% lang L_DJ %}</th>
        <th>{% lang L_SHOW %}</th>
        <th>{% lang L_ARTIST %}</th>
        <th>{% lang L_TITLE %}</th>
    </tr>
</tfoot>
</table>
<script type="text/javascript">
<!--

$('#historytable').dataTable({
    "bProcessing" : false,
    "bServerSide" : true,
    //"bJQueryUI"   : true,
    "bFilter"     : false,
    "bScrollInfinite" : true,
    "bScrollCollabse" : true,
    "bLengthChange"   : false,
    "iDisplayLength"         : 250,
    "sScrollY"        : "700px",
    "sAjaxSource" : '{{ WEBROOT}}api/site/history.php'
});

//-->
</script>
{% endblock %}
