{% extends "sidebar.html" %}

{% block content %}
<h2>{% lang L_HISTORY %}</h2>
<table id="historytable" width="100%">
<thead>
    <tr>
        <th>Zeit</th>
        <th>DJ</th>
        <th>Sendung</th>
        <th>Interpret</th>
        <th>Titel</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="5">hole Daten vom Server...</td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <th>Zeit</th>
        <th>DJ</th>
        <th>Sendung</th>
        <th>Interpret</th>
        <th>Titel</th>
    </tr>
</tfoot>
</table>
<script type="text/javascript">
<!--

$('#historytable').dataTable({
    "bProcessing" : true,
    "bServerSide" : true,
    //"bJQueryUI"   : true,
    "bFilter"     : false,
    "bScrollInfinite" : true,
    "bScrollCollabse" : true,
    "bLengthChange"   : false,
    "iDisplayLength"         : 250,
    "sScrollY"        : "700px",
    "sAjaxSource" : '{{ WEBROOT}}api/site/history.php'
});

//-->
</script>
{% endblock %}
