{% extends "sidebar-user.html" %}
{% block content %}
<h2>Einstellungen</h2>
<p>
<form method="post">
<table>
<tr>
    <td colspan=2 >Sendungseinstellungen</td>
</tr>
<tr>
    <td>Name für ungeplante Sendung</td><td><input name="showname" value="{{ showname }}"/></td>
</tr>
<tr>
    <td>Beschreibung</td><td><input name="showdesc" value="{{ showdesc }}"/></td>
</tr>
<tr>
    <td>aus ICY-Tags übernehmen</td><td><input type="checkbox" name="icy" {% if icytags %}checked{% endif %}/></td>
</tr>
</table>
<input type="submit" name="submit" value="Einstellungen ändern" />
</form>
{% endblock %}