{% extends "sidebar-user.html" %}
{% block content %}
<h2>{% lang L_SETTINGS %}</h2>
<p>
<form method="post">
<table>
<tr>
    <td colspan=2 >{% lang L_SHOWSETTINGS %}</td>
</tr>
<tr>
    <td>{% lang L_UNPLANNEDNAME %}</td><td><input name="showname" value="{{ showname }}"/></td>
</tr>
<tr>
    <td>{% lang L_UNPLANNEDDESC %}</td><td><input name="showdesc" value="{{ showdesc }}"/></td>
</tr>
<tr>
    <td>{% lang L_USEICYTAGS %}</td><td><input type="checkbox" name="icy" {% if icytags %}checked{% endif %}/></td>
</tr>
<tr>
    <td>{% lang L_DISCOBACK %}</td><td><input name="background" value="{{ background }}"></td>
</tr>
</table>
<input type="submit" name="submit" value="{% lang L_SAVESETTINGS %}" />
</form>
{% endblock %}