{% extends "base.html" %}
{% block content %}
block.super
{% endblock %}
{% block sidebar %}
<div id='subcontent'>
	<div class='infoblock'>
	<h3>Letzten 10 Songs</h3>
		<ul>
		{% for index, song in sb_songlist %}
			<li><span title="{{ song.fullsong }}">{{ song.song }}{% if song.short == 1 %}<a href="/histroy.php?id={{ song.id }}">...</a>{% endif %}</span></li>
		{% endfor %}
		</ul></div>
<div class='infoblock'>
<h3>Letzten 5 Neuzug&auml;nge</h3><ul>
{% for index, streamer in sb_streamer %}
<li><a href='/user.php?u={{ streamer.userid }}'>{{ streamer.username }}</a></li>
{% endfor %}
</ul>
<p><em>Insgesamt {{ sb_streamercount }} Str&ouml;mbernds!</em></p>
</div>
</div>
{% endblock %}