{% extends "base.html" %}
{% block content %}
block.super
{% endblock %}
{% block sidebar %}
<div id='subcontent'>
    {% include 'nowplaying.html' %}
	<div class='infoblock'>
	<h3>{% lang L_LAST10TRACKS %}</h3>
		<ul>
		{% for index, song in sb_songlist %}
			<li>{% if song.nowplaying %}np:&nbsp;{% endif %}<span title="{{ song.fullsong }}">{{ song.song }}{% if song.short == 1 %}<a href="/history.php?id={{ song.id }}">...</a>{% endif %}</span></li>
		{% endfor %}
		</ul></div>
<div class='infoblock'>
<h3>{% lang L_LAST5USERS %}</h3><ul>
{% for index, streamer in sb_streamer %}
<li><a href='{{ WEBROOT }}user.php?u={{ streamer.streamer }}'>{{ streamer.username }}</a></li>
{% endfor %}
</ul>
<p><em>{% lang L_TOTALUSERS , sb_streamercount %}</em></p>
</div>
</div>
{% endblock %}
