{% extends "sidebar.html" %}
{% block content %}
<h2>{% lang L_STREAMS %}</h2>
<table width="100%">
  <tr>
    <td>
    <ul>
	{% for id, stream in streams %}
	   <li>{{ stream.description }} - {{ stream.count }} {% lang L_LISTENER %} <a href="{{ WEBROOT }}listen.php?stream={{stream.id}}&type=m3u">{% lang L_LISTEN %}</a></li>
	{% endfor %}
	</ul>
    </td>
    <td rowspan="{{streamnum}}" style="vertical-align:middle;text-align:center;font-size:3em;font-weight:bolder;color:lightgrey;">{{ traffic }} kB/s</td>
  </tr>
</table>
<br /><br />
<h2>{% lang L_PROGRAMINFOS %}</h2>
{% if streaming %}
    {% if showunnamed %}
    {% lang L_CURRENTLY_STREAMING_NI, streamerinfo.username, show.begin %}
    {% else %}
    <p>{% lang L_CURRENTLY_STREAMING, streamerinfo.username, show.name, show.begin %}
	<br/>
	{{show.description | safe}}
	</p>
    {% endif %}
    {% if show.thread > 0 %}
    <p><a href="http://krautchan.net/rfk/thread-{{show.thread}}.html">{% lang L_SEEKC %}</a></p>
    {% endif %}
{% else %}
    {% lang L_NP_NOONESTREAMING %}
{% endif %}

{% if userstreaming %}
<p>
<h3>{% lang L_LISTENEROVERVIEW %}</h3>
<table class="donation">
<tr><td>&nbsp;</td><td>{% lang L_CITY %}</td><td>{% lang L_MOUNT %}</td><td>{% lang L_TIMECONNECTED %}</td></tr>
{% for listener in listeneroverview %}
<tr><td><img src="{{ WEBROOT }}images/cb/{{ listener.country }}.png" /></td><td>{{ listener.city }}</td><td>{{ listener.mount }}</td><td>{{ listener.time }}</td></tr>
{% endfor %}
</table>
<b>{% lang L_UNIQUELISTENERSHOW %}:</b> {{ uniquelistener }}
</p>
{% endif %}


<p>
<h3>{% lang L_LISTENERHISTORY %}</h3>
<img src="{{ WEBROOT }}graphh.png" alt="listenergraph" />
<img src="{{ WEBROOT }}graphd.png" alt="listenergraph" />
<img src="{{ WEBROOT }}graphw.png" alt="listenergraph" />
</p>

{% endblock %}
