{% extends "sidebar-user.html" %}
{% block content %}
{% if !user %}
<br />
<br />
<h2>{% lang L_USERNOTFOUND %}</h2>
<br />
<br />
{% else %}
<h2>{{ user.username }}</h2>
<p>
{% if user.showcount > 0 %}
{% lang L_USERSTATS, user.username, user.streamtime %}
{% else %}
{% lang L_USERNOSTATS, user.username %}
{% endif %}
</p>
<h3>{% lang L_USERNEXTSHOWS, user.username %}</h3>
<p>
{% if user.nextshow %}
{{ user.nextshow.name }} am {{ user.nextshow.date }} um {{ user.nextshow.time }} <small>(noch {{ user.nextshow.due }})</small>
{% else %}
{% lang L_NOSHOWS %}
{% endif %}
</p>
{% endif %}
{% endblock %}