/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */

/**************** Body and tag styles ****************/

*{margin:0; padding:0;}

body{
font:76% Verdana,Tahoma,Arial,sans-serif;
line-height:1.4em;
text-align:center;
color:#303030;
background:#656565;
}

a{
color:#303030;
font-weight:bold;
text-decoration:none;
background-color:inherit;
}

a:hover{color:#BDBDBD; text-decoration:none; background-color:inherit;}
a img{border:none;}

p{padding:0 0 1.6em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

/**************** Header and navigation styles ****************/

#container{
width:818px;
margin:20px auto;
padding:1px 0;
text-align:left;
background:#ffffff;
color:#303030;
}

#header{
height:160px;
width:816px;
margin:0 1px 1px 1px;
background:#707070;
color:#ffffff;
}

#header h1{
padding:35px 0 0 20px;
font-size:2.4em;
background-color:inherit;
color:#ffffff;
letter-spacing:-2px;
font-weight:normal;
}

#header h2{
margin:10px 0 0 40px;
font-size:1.4em;
background-color:inherit;
color:#f0f2f4;
letter-spacing:-1px;
font-weight:normal;
}

#navigation{
height:2.2em;
line-height:2.2em;
width:816px;
margin:0 1px;
background:#707070;
color:#ffffff;
}

#navigation li{
float:left;
list-style-type:none;
border-right:1px solid #ffffff;
white-space:nowrap;
}

#navigation li a{
display:block;
padding:0 10px;
font-size:0.8em;
font-weight:normal;
text-transform:uppercase;
text-decoration:none;
background-color:inherit;
color: #ffffff;
}

li.nowplaying {
	border: 1px solid #0099ff;
}
.userinfo {

display:block;
padding:0 10px;
font-size:0.8em;
font-weight:normal;
text-transform:uppercase;
text-decoration:none;
background-color:inherit;
color: #ffffff;

}

* html #navigation a {width:1%;}

#navigation .selected,#navigation a:hover{
background:#BDBDBD;
color:#FFFFFF;
text-decoration:none;
}

/**************** Content styles ****************/

#content{
float:left;
width:530px;
font-size:0.9em;
padding:20px 0 0 20px;
}

#content h2{
display:block;
margin:0 0 16px 0;
font-size:1.7em;
font-weight:normal;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#content h2 a{font-weight:normal;}
#content h3{margin:0 0 5px 0; font-size:1.4em; letter-spacing:-1px;}
#content a:hover,#subcontent a:hover{text-decoration:underline;}
#content ul,#content ol{margin:0 5px 16px 35px;}
#content dl{margin:0 5px 10px 25px;}
#content dt{font-weight:bold; margin-bottom:5px;}
#content dd{margin:0 0 10px 15px;}

/**************** Sidebar styles ****************/

#subcontent{
float:right;
width:170px;
padding:5px 20px 10px 0;
line-height:1.4em;
border-left: 1px solid #c0c0c0;
margin-top: 10px;
margin-bottom: 10px;
}

#subcontent h2{
display:block;
margin:0 0 15px 0;
font-size:1.6em;
font-weight:normal;
text-align:left;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#subcontent p{margin:0 0 16px 0; font-size:0.9em;}

/**************** Menublock styles ****************/

.menublock{margin:0 0 20px 8px; font-size:0.9em;}
.menublock li{list-style:none; display:block; padding:2px; margin-bottom:2px;}
.menublock li a{font-weight:bold; text-decoration:none;}
.menublock li a:hover{text-decoration:none;}
.menublock li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.menublock li ul li{margin-bottom:0;}
.menublock li ul a{font-weight:normal;}

.infoblock{margin:0 0 20px 8px; font-size:0.9em; }
.infoblock h3 {border-bottom: 1px solid #c0c0c0;}
.infoblock ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal; line-height:1.2em;}
/*.infoblock li{list-style:none; display:block; padding:2px; margin-bottom:2px;}
.infoblock li a{font-weight:bold; text-decoration:none;}
.infoblock li a:hover{text-decoration:none;}
.infoblock li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.infoblock li ul li{margin-bottom:0;}
.infoblock li ul a{font-weight:normal;}*/

/**************** Searchbar styles ****************/

#searchbar{margin:0 0 20px 0;}
#searchbar form fieldset{margin-left:10px; border:0 solid;}

#searchbar #s{
height:1.2em;
width:110px;
margin:0 5px 0 0;
border:1px solid #a0a0a0;
}

#searchbar #searchbutton{
width:auto;
padding:0 1px;
border:1px solid #808080;
font-size:0.9em;
text-align:center;
}

/**************** Footer styles ****************/

#footer{
clear:both;
width:816px;
padding:5px 0;
margin:0 1px;
font-size:0.9em;
color:#f0f0f0;
background:#707070;
}

#footer p{padding:0; margin:0; text-align:center;}
#footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#footer a:hover{color:#ffffff; background-color:inherit; text-decoration: underline;}

/**************** Misc classes and styles ****************/

.splitcontentleft{float:left; width:48%;}
.splitcontentright{float:right; width:48%;}
.clear{clear:both;}
.small{font-size:0.8em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#AA0000; background-color:inherit; font-weight:bold;}
.streamer{color:darkgreen; background-color:inherit; font-weight:bold;}
.register { padding:20px 0 0 20px; margin-bottom:20px;}


.box{
margin:0 0 20px 0;
padding:10px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.0em;
}

.vi {
padding: 2px;
vertical-align: middle;
}

.calendar {
}

.day,.day-thismonth {
	vertical-align: top;
}
.day-thismonth {
	border: 1px solid grey;
}
.day:hover,.day-thismonth:hover{
	background-color: #aaddff;
	cursor: pointer;
}
.calendar .week:hover {
	background-color: #aaddff;
	
}
.calendar .day {
 color: #999999;
}
.calendar .day-thismonth {
 
}
.calendar-head {
  font-size: 20px;
  background-color: none;
}

.calendar-week tr:hover{
	border-top: thin solid blue;
	border-bottom: thin solid blue;
	background-color: #aaddff;
}
.calendar-week td{
	text-align: center;
	border-top: thin solid grey;
	border-right: thin solid lightgrey;
}
.calendar-week .curr {
	border: thin solid orange;
}
.calendar-week .done {
	background-color: #f5f5f5;
}
.calendar-week .show {
	border: thin solid #0099ff;
}

.calendar-week .hour {
	font-size: 8px;
	border-left: thin solid lightgrey;
	text-align: left;
}
.freetime-start, .freetime-mid, .freetime-end {
	background-color: #A3FF99;
	border-left: thin solid #00FF66;
	border-right: thin solid #00FF66;
}
.free-selectable {
	cursor: pointer;
}
.freetime-start {
	border-top: thin solid #00FF66;
}
.freetime-mid {

}
.freetime-end {
	border-bottom: thin solid #00FF66;
}