<div id='subcontent'>
<div class='infoblock'>
<h3>Letzten 10 Songs</h3><ul>
<bp:foreach in="sb_songlist" as="song" index="id" direct="true">
<li><bp:$song[artist]/> - <bp:$song[title]/></li>
</bp:foreach></ul></div>
<div class='infoblock'>
<h3>Letzten 5 Streamer</h3><ul>
<bp:foreach in="sb_streamer" as="streamer" index="id" direct="true">
<li><a href='/?u=<bp:$streamer[userid]/>'><bp:$streamer[username]/></a></li>
</bp:foreach>
</ul>
<p><em>Insgesamt <bp:$sb_streamercount/> Str&ouml;mbernds!</em></p>
</div>
