<bp:include template="header.html" shared_values="true"/>

<h2>Programmplan</h2>
<table width="100%">
<tr><td colspan=8 class="calendar-head"><bp:$monthname/>&nbsp;<bp:$year/></td></tr>
<tr><td>&nbsp;</td><td width="13%">Montag</td><td width="13%">Dienstag</td><td width="13%">Mittwoch</td><td width="13%">Donnerstag</td><td width="13%">Freitag</td><td width="13%">Samstag</td><td width="13%">Sonntag</td></tr>
<bp:foreach in="calendar" as="week" index="weeknum" direct="true">
<tr height="50"><td><bp:$weeknum/></td>
	<bp:foreach in="week" as="day" index="daynum" direct="true">
	<td class="<bp:if expr="$day['thismonth'] == 'true'">day-thismonth</bp:if><bp:if expr="$day['thismonth'] == 'false'">day</bp:if>">
	<bp:$day[day]/>
	<div><bp:$day[shows] /></div>
	</td>
	</bp:foreach>
	</tr>
</bp:foreach>
</table>
<bp:include template="footer.html" shared_values="true"/>
